<!DOCTYPE html>
<html>
<head>
  <title>Babble Gabble</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
  <style>
    body{
      background: rgb(254, 255, 202);
    }
  </style>
</head>
<body>
<div id="chat" class="container">
  <h1>Babble Gabble</h1>
  <!-- Messages -->
  <div v-for="message in messages" class="card">
    <div class="card-body">
      <!-- nickname -->
      <h6 class="card-subtitle mb-2 text-muted">{{ message.nickname }}</h6>
      <!-- content -->
      <p class="card-text">{{ message.text }}</p>
      <!--actions-->
      <a @click.prevent="deleteMessage(message)" href="#" class="card-link">delete</a>
    </div>
  </div>

  <hr>
  <!-- New Message -->
  <form @submit.prevent="storeMessage">
    <div class="form-group">
      <label>Message:</label>
      <textarea v-model="messageText" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label>Nickname:</label>
      <input v-model="nickname" class="form-control"/>
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>
<script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>
<script type="text/javascript">
  // Initialize Firebase
  const config = {
    apiKey: "AIzaSyBTFFdgceKJ7xQsBLVPfDGy1bai9m4VhQc",
    authDomain: "babble-gabble.firebaseapp.com",
    databaseURL: "https://babble-gabble.firebaseio.com",
    projectId: "babble-gabble",
    storageBucket: "babble-gabble.appspot.com",
    messagingSenderId: "1001102738752"
  };
  firebase.initializeApp(config);

  const database = firebase.database()
  const messagesRef = database.ref('messages')

  database.ref('messages').on('value', function () {
  })

  new Vue({
    el: "#chat",

    data: {
      messages: [],
      messageText: '',
      nickname: 'patrick'
    },

    methods: {
      storeMessage () {
        //database.ref('messages').push().set({text: this.messageText, nickname: this.nickname})
        messagesRef.push({text: this.messageText, nickname: this.nickname})
        this.messageText=''
      },

      deleteMessage ({id}) {
        messagesRef.child(id).remove()
      }
    },

    // hook after vue instance is created
    // these are listeners that allow all users to get real time updates without refreshing their clients/browsers
    created () {
      messagesRef.on('child_added', snapshot => this.messages.push({...snapshot.val(), id: snapshot.key}))
      messagesRef.on('child_removed', snapshot => {
        const deletedMessageIndex = this.messages.findIndex(message => message.id === snapshot.key)
        this.messages.splice(deletedMessageIndex,1)
      })
    }
  })
</script>
</body>
</html>